<div class="container">
  <div class="row">
    <nav class="nav-center z-depth-0" role="navigation">
      <div class="nav-wrapper container">
        <ul>
          <li><%= image_tag '/logo.png', class: "img-responsive"%></li>
        </ul>
      </div>
    </nav>
    <div class="row big-div">
      <div class="row box col s12 m5 l7">
        <%= render "shared/exchange_box" %>
      </div>
      <div class="col s12 m8 l5 hide-on-med-and-down phrase">
        <div class="row">
          <h3 class="title">Converta facilmente suas Moedas</h3>
        </div>
        <div class="row">
          <h4 class="title">Para qualquer moeda no Mundo!</h4>
        </div>
      </div>

    </div>
  </div>
</div>