nav{
  background-color: rgba(0,0,0,0);
}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

.box{
  padding-top: 65px;
}

.center-cols{
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}

.exchange{
  max-height: 75px;
  padding: 6px;
  margin: 5%;
  margin-top: -2%;
  margin-left: 33%;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #757575;
  opacity:  1;
}