.exchange_box{
  .card{
    border: 0;
    .card-header{
      background-color: #c91a1aea;
      border-radius: 0;
      color: white;
      font-weight: 700;
    }
    .card-block{
      padding: 17px;
      .title{
        color: #632a2f;
        font-weight: 700;
      }
      .btn-exchange{
        background-color: #5bc0de;
        border-color: #5bc0de;
        border-radius: 0;
      }

      .exchange{
          max-height: 75px;
          padding: 6px;
          margin: 5%;
          margin-top: -2%;
          margin-left: 33%;
      }
    }
  }
}

.exchange{
  max-height: 75px;
  padding: 6px;
  margin: 5%;
  margin-top: -2%;
  margin-left: 33%;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #757575;
  opacity:  1;
}